.authora_0Nrpkkgq3v0HG0eV {background-color: #79d9d9}
.authora_0dnEYAHMWuX4eIDH {background-color: #d97979}
.authora_0ru0eis7s6QOBRqY {background-color: #18d9c6}
.authora_18wdexpPpvVfk5GH {background-color: #7991d9}
.authora_2uppxjkU90FDis36 {background-color: #7991d9}
.authora_3bi6D4jRWJwNlvxD {background-color: #b4f1d9}
.authora_4G2RBonTXzLeHxv4 {background-color: #e3c7ff}
.authora_4SUPN0ZdYNRNk2Vn {background-color: #f9f88a}
.authora_6ErZXagofvUy0vrh {background-color: #79d991}
.authora_6zHw7ribg2qR3bc9 {background-color: #c1d9a9}
.authora_8EW6qi7L5TAO7TW0 {background-color: #ffc7c7}
.authora_8OitfTCpmtqiBmk2 {background-color: #c1a9d9}
.authora_9Q9FnyWYrohsMZR2 {background-color: #7991d9}
.authora_9Ww8rJCZXx2YnW4v {background-color: #d9a9cd}
.authora_9mQKDTenuv9rTtqa {background-color: #e3c7ff}
.authora_C747a46swYXGPPkB {background-color: #c7ff8f}
.authora_D1K5l1JXZ9vuRpnj {background-color: #ccf5e5}
.authora_DYsSRir9cupI8Ora {background-color: #a979d9}
.authora_DyUMWRxe4QdpshlG {background-color: #cbcfda}
.authora_Ec3zByA17BSsK9IS {background-color: #336987}
.authora_Ekq93LrSw3xFuWs7 {background-color: #8fabff}
.authora_FMTfCRJhqw5wE1jc {background-color: #c7d5ff}
.authora_Gj59dbsJvSeXfKS0 {background-color: #c1a9d9}
.authora_HUiGFc378uVj0aaH {background-color: #fff1c7}
.authora_HbIaxV72uxOFge8J {background-color: #ff8fe3}
.authora_K7PpfFHFnkfWKf2f {background-color: #d9a9cd}
.authora_KA2tJlEXac1XQttW {background-color: #e3ffc7}
.authora_KFBL9FkThAz25vAc {background-color: #a9d9b5}
.authora_KV1V8SsEi0QZYnWw {background-color: #79d9d9}
.authora_LGdHR54Z9waOvKbk {background-color: #c7ffd5}
.authora_LTSeXismYPpwMqoo {background-color: #c7ffd5}
.authora_LhhJOosiRHb0Aq91 {background-color: #19b1ea}
.authora_MC09c5TjuvlRlpSQ {background-color: #c7ff8f}
.authora_N6Ud8PYEGY0kSe53 {background-color: #c78fff}
.authora_NO35yfTAENusjzhh {background-color: #a9d979}
.authora_OpZ8nTo5Vjxs8hzC {background-color: #d9a9a9}
.authora_PJYtBURpYyTScnRk {background-color: #ff8f8f}
.authora_PwS0pEGs7Xkj7rEG {background-color: #d97979}
.authora_PyPoAQ2nBtNw8O7o {background-color: #fccfcf}
.authora_Q0sDPkmk777qFZgo {background-color: #a9d9b5}
.authora_RnuA46W7WlY3neHJ {background-color: #d7dae0}
.authora_UuzpngzX9TzsnMDb {background-color: #a9d9b5}
.authora_WJsibusZDWPrk7qd {background-color: #d9a9cd}
.authora_XXQTqVQna0GC3YaQ {background-color: #a979d9}
.authora_XpteeoSVAYXEc1sS {background-color: #ff8fe3}
.authora_Yfi9DX2BwSbNXIAq {background-color: #a979d9}
.authora_ZEmLn9vOE9ongZQQ {background-color: #c7ff8f}
.authora_ZFj4NB36sVqikay7 {background-color: #c02720}
.authora_ZIxgjPTaunesRXuw {background-color: #ffc7c7}
.authora_akBU39yiBpIhukuq {background-color: #d5d9e1}
.authora_bFf7KcnF6ZXoyhCe {background-color: #e3c7ff}
.authora_chW04oR811fkW2iV {background-color: #a9b5d9}
.authora_d0giylqII1kBkiLM {background-color: #ffc7f1}
.authora_d6ssv2OC1PK5eDOq {background-color: #c1d9a9}
.authora_eI8QyVtcMLu8h63n {background-color: #8fffff}
.authora_fG3bdc5yjStGwcsv {background-color: #ffc7c7}
.authora_fHWyNa7myanHhBCC {background-color: #c7ffd5}
.authora_fepBIHgyzKSSHp0l {background-color: #bef6fc}
.authora_fuDZP3iUiMC6gh4F {background-color: #f7b1c2}
.authora_gBgveMeN4SPLhv7m {background-color: #f210d5}
.authora_grUivpnvBkwngfTX {background-color: #c78fff}
.authora_gtUEWPcUjndS3GK3 {background-color: #fff1c7}
.authora_h1yN6qgq5DDrUhbF {background-color: #abf6bb}
.authora_izAnYskauc244LyH {background-color: #0ec8d2}
.authora_jgLXwtTY7tU63Ekw {background-color: #ffc7c7}
.authora_k5c5e1YzGdcKfxKh {background-color: #d9c179}
.authora_kXAwNbuZRiYTBI5o {background-color: #eff31d}
.authora_lVOKLmncp12JXOsl {background-color: #faf6a4}
.authora_m6TXCDDtc8IAYtjt {background-color: #8fffab}
.authora_nkhM9cK3L26rbbql {background-color: #9cc5f4}
.authora_o8hJ4syIfRovTKGf {background-color: #d9a9a9}
.authora_qlXzOZVKImjbevmR {background-color: #a9d979}
.authora_rDxHpASYkgsAjdlr {background-color: #d9c179}
.authora_ssEYJX05gWqZfjTg {background-color: #d97979}
.authora_ukDRPtsXBxc70Woy {background-color: #fff1c7}
.authora_uxTqIowdrQFDepi1 {background-color: #ee9064}
.authora_v5KIZncmHFScpP8m {background-color: #7991d9}
.authora_vMXMzyd05nqvn86Q {background-color: #f9e98d}
.authora_wjcuDdGDQik02WzV {background-color: #c7ffd5}
.authora_xvJy7xrP6qVUfpLl {background-color: #ffc7f1}
.authora_yvKPCeSYcVjrBwgC {background-color: #c78fff}
.authora_zWkJqxCXq7OpciRP {background-color: #a9d979}
.removed {text-decoration: line-through; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); opacity: 0.8; }
