.authora_Ajfz16tgenkEWRJv {background-color: #7991d9}
.authora_DruYyoPJQUZS8MrX {background-color: #afc4de}
.authora_HZxuPaPEFLMPQVPe {background-color: #a979d9}
.authora_IUrQRKaTKOlek5zD {background-color: #a9d9d9}
.authora_SEOr99VMfMfHtJUB {background-color: #bfc6d5}
.authora_U4Mmj7hwShLVC1Xc {background-color: #d9a9cd}
.authora_hNuyhCyymdEeDl3V {background-color: #d7c72b}
.authora_jxZmSg8wDH61dl3g {background-color: #c7ff8f}
.authora_jzxD10wJ4gslI89W {background-color: #5ece98}
.authora_k0khBKFYHON29XeW {background-color: #8fffab}
.authora_lMMKlZGZrB2RbANG {background-color: #9cb9cf}
.authora_pvJBzSgNPqnVcf4x {background-color: #c1a9d9}
.authora_xAQpZDm4k1LZS5mq {background-color: #e5bf40}
.authora_zEVzeXyRFP6XBhdx {background-color: #e4d829}
.authora_zQWIfJcsIjfD6UyX {background-color: #ec0c0c}
.authora_zmkneGOFYvrMIQze {background-color: #79d9d9}
.removed {text-decoration: line-through; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); opacity: 0.8; }
